.button {
  font: inherit;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;

  border-radius: 7px;
}

/* .button:hover,
.button:active {
  background: rgb(242, 54, 54);
  border-color: rgb(242, 54, 54);
} */

.button:focus {
  outline: none;
}
